<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CurrVersion" value="1.1"/>
		<add key="UrlUpdateChecker" value="https://pastebin.com/raw/yhxzjRXj"/>
		<add key="IconTempDirectoryName" value="AdminLauncherTempIcon"/>
		<add key="kofiUrl" value="https://ko-fi.com/kdesantis"/>
	</appSettings>
</configuration>