<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CurrVersion" value="2.3"/>
		<add key="UrlUpdateChecker" value="https://raw.githubusercontent.com/kdesantis/AdminLauncher/refs/heads/master/AdminLauncherUpdateFile.json"/>
		<add key="UrlUpdateCheckerDebug" value="https://raw.githubusercontent.com/kdesantis/AdminLauncher/refs/heads/master/AdminLauncherUpdateFile.json"/>
		<add key="IconTempDirectoryName" value="AdminLauncherTempIcon"/>
		<add key="KofiUrl" value="https://ko-fi.com/kdesantis"/>
		<add key="WidthVertical" value="510"/>
		<add key="HeightVertical" value="700"/>
		<add key="WidthHorizontal" value="700"/>
		<add key="HeightHorizontal" value="410"/>
	</appSettings>
</configuration>