<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CurrVersion" value="1.4"/>
		<add key="UrlUpdateChecker" value="https://raw.githubusercontent.com/kdesantis/AdminLauncher/refs/heads/master/AdminLauncherUpdateFile.json"/>
		<add key="IconTempDirectoryName" value="AdminLauncherTempIcon"/>
		<add key="kofiUrl" value="https://ko-fi.com/kdesantis"/>
		<add key="BaseTheme" value="Light,Dark"/>
		<add key="ColorsTheme" value="Red,Green,Blue,Purple,Orange,Lime,Emerald,Teal,Cyan,Cobalt,Indigo,Violet,Pink,Magenta,Crimson,Amber,Yellow,Brown,Olive,Steel,Mauve,Taupe,Sienna"/>
	</appSettings>
</configuration>